/* global */
* {
  box-sizing: border-box;
}

body {
  background-color: #e8e2db;
  color: #1a3263;
}

/* body and game container */
body,
#game {
  text-align: center;
}

#board {
  display: inline-block;
  /* position: relative; */
}

/* game board table */
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  background-color: #fab95b;
}

/* pieces are divs within game table cells: draw as colored circles */
.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: var(--fall-distance);
  animation: fall 0.9s forwards ease-in-out;
  position: relative;
}

@keyframes fall {
  100% {
    top: 0px;
  }
}

.player1 {
  background-color: #f5564e;
}

.player2 {
  background-color: #1a3263;
}

/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px lightgray;
  background-color: white;
}

#column-top td:hover {
  background-color: gold;
}
